.button-class {
  background-color: #E6E6FA;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: red;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.extra-content,
button{
  display: none;
}

.visible{
  display: block;
}
